<h1>Edit Cook</h1>

<%= form_for @cook do |f| %>

  <% if @cook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cook.errors.count, "error") %> prohibited this cook from being saved:</h2>

      <ul>
        <% @cook.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :cuisine %>
  <%= f.text_field :cuisine %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.submit %>
<% end %>
