<div class="container">
  <p id="notice"><%= notice %></p>

<p>
  <strong>Cook:</strong>
  <%= @cook.name %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @cook.cuisine %>
</p>

<p>
  <strong>City:</strong>
  <%= @cook.city %>
</p>
</div>

<div class="container">
  <%= link_to 'Edit', edit_cook_path(@cook) %>
  <%= button_to 'Destroy', @cook, method: :delete %>
  <%= link_to 'Back', cooks_path %>
</div>
