<p id="notice"><%= notice %></p>

<p>
  <strong>Cook:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Further information:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
